ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;

  & li {
    &.white {
      border: 1px solid black;
      width: 2em;
      height: 8em;
      z-index: 1;

      &.f,
      &.c {
        margin-right: -0.75em;
      }

      &.g,
      &.a,
      &.d {
        margin: 0 -0.75em;
      }

      &.b,
      &.e {
        margin-left: -0.75rem;
      }
    }
    &.black {
      background-color: black;
      width: 1.5em;
      height: 6em;
      z-index: 2;
    }
  }
}
